@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

:root {
  --background-color: hsl(129, 45%, 69%);
  --font-color: #000000;
  --header-background-color: #4c5c68;
  --header-font-color: #b0e4db;
  --field-background-color: #EDF3AD;
  --field-background-color-hover: hsl(185, 98%, 80%);
  --blue-border-color: #2a3a46;
  --restart-btn-bg-color: hsl(348, 91%, 70%);
  --restart-btn-hover-bg: hsl(348, 91%, 80%);
  --restart-btn-active: hsl(348, 91%, 50%);
  --font: 'Varela Round', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: 'Press Start 2P', cursive;
  
  /* line-height: 1.6; */
  margin-bottom: 80px;
}

button {
  border: none;
  outline: none;
}

.header {
  padding: 20px;
  border-bottom: 3px solid var(--blue-border-color);
  background-color: var(--header-background-color);
  color: var(--header-font-color);
}

.title {
  font-size: 70px;
  text-align: center;
  line-height: 1.5;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.message {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: auto;
  font-size: 20px;
  text-align: center;
}

.message > p {
  color: white;
  background-color: hsl(187, 76%, 59%);
  padding: 10px 20px;
  border-radius: 10px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin: 0px auto;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  background-color: var(--field-background-color);
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.field:hover {
  background-color: var(--field-background-color-hover);
}

.field:nth-child(1), .field:nth-child(2), .field:nth-child(3) {
  border-top: none;
}

.field:nth-child(1), .field:nth-child(4), .field:nth-child(7) {
  border-left: none;
}

.field:nth-child(3), .field:nth-child(6), .field:nth-child(9) {
  border-right: none;
}

.field:nth-child(7), .field:nth-child(8), .field:nth-child(9) {
  border-bottom: none;
}


.button-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.restart-button {
  padding: 10px 20px;
  border-radius: 7px;
  border-radius: 7px;
  background-color: var(--restart-btn-bg-color);
  color: white;
  font-size: 50px;
}

.restart-button:hover {
  transform: scale(1.1);
  background-color: var(--restart-btn-hover-bg);
}

.restart-button:active {
  transform: scale(1);
  background-color: var(--restart-btn-active);
}

.fa-arrow-rotate-right {
  transition: transform 0.5s ease;
}

.fa-arrow-rotate-right:hover {
  transform: rotate(360deg);
}


.player-x {
  color: hsl(0, 100%, 60%);
  background-color: hsl(0, 100%, 20%);
}

.player-x:hover {
  color: hsl(0, 100%, 90%);
  background-color: hsl(0, 100%, 50%);
}

.player-o {
  color: hsl(240, 100%, 60%);
  background-color: hsl(240, 100%, 20%);
}

.player-o:hover {
  color: hsl(240, 100%, 90%);
  background-color: hsl(240, 100%, 50%)
}